<div class="workspace-wrapper">
    <div id="workspace"></div>
    <div class="workspace-footer">
        <div class="dock">
            <button id="add" class="dock-item">Add</button>
            <button id="connect" class="dock-item">Connect</button>
            <button id="accept" class="dock-item">Accept</button>
            <button id="initial" class="dock-item">Initial</button>
            <button id="edit" class="dock-item">Edit</button>
            <button id="delete" class="dock-item">Delete</button>
        </div>
    </div>
</div>
@section NavbarContent {
    <div class="top-panel">
        <button id="new" class="top-button">New</button>
        <button id="save" class="top-button">Save</button>
        <button id="load" class="top-button">Load</button>
        <button id="run" class="top-button" onclick="window.location.href = '/App/Simulator';">Run</button>
    </div>
}
@section Styles {
<link href="~/css/app.css" rel="stylesheet" type="text/css">
}
@section Scripts{
<environment include="Development">
    <script type="module" src="~/designer.js"></script>
    <script type="module" src="~/common-utils.js"></script>
    <script type="module" src="~/core-utils.js"></script>
    <script type="module" src="~/sandbox.js"></script>
    <script type="module" src="~/core.js"></script>
    <script type="module" src="~/modules/canvas.js"></script>
    <script type="module" src="~/modules/dom-manager.js"></script>
    <script type="module" src="~/modules/interaction.js"></script>
    <script type="module" src="~/modules/workspace.js"></script>
    <script type="module" src="~/modules/ruler.js"></script>
    <script type="module" src="~/modules/fsm-loader.js"></script>
    <script type="module" src="~/modules/fsm-cache-manager.js"></script>
    <script type="module" src="~/modules/fsm-state-manager.js"></script>
    <script type="module" src="~/modules/fsm-transition-manager.js"></script>
    <script type="module" src="~/shapes/shape.js"></script>
    <script type="module" src="~/shapes/basic-shapes.js"></script>
    <script type="module" src="~/shapes/state-shape.js"></script>
    <script type="module" src="~/shapes/transition-shape.js"></script>
</environment>
<environment exclude="Development">
    <script src="~/js/designer.js"></script>
</environment>
}