<div class="workspace-wrapper">
    <div id="workspace"></div>
    <div class="workspace-footer">
        <div class="dock">
            <button id="back" class="dock-item">Previous</button>
            <button id="start" class="dock-item">Reset</button>
            <button id="restart" class="dock-item">Restart</button>
            <button id="end" class="dock-item">Read all</button>
            <button id="forward" class="dock-item">Next</button>
        </div>
    </div>
</div>
@section NavbarContent {
    <div class="top-panel">
        <button id="new" class="top-button">New</button>
        <button id="save" class="top-button">Save</button>
        <button id="load" class="top-button">Load</button>
        <button id="edit" class="top-button">Edit</button>
    </div>
}
@section Styles {
<link href="~/css/app.css" rel="stylesheet" type="text/css">
}
@section Scripts{
<environment include="Development">
    <script type="module" src="~/simulator.js"></script>
    <script type="module" src="~/common-utils.js"></script>
    <script type="module" src="~/core-utils.js"></script>
    <script type="module" src="~/sandbox.js"></script>
    <script type="module" src="~/core.js"></script>
    <script type="module" src="~/modules/canvas.js"></script>
    <script type="module" src="~/modules/dom-manager.js"></script>
    <script type="module" src="~/modules/interaction.js"></script>
    <script type="module" src="~/modules/workspace.js"></script>
    <script type="module" src="~/modules/fsm-loader.js"></script>
    <script type="module" src="~/modules/fsm-cache-manager.js"></script>
    <script type="module" src="~/shapes/shape.js"></script>
    <script type="module" src="~/shapes/basic-shapes.js"></script>
    <script type="module" src="~/shapes/state-shape.js"></script>
    <script type="module" src="~/shapes/transition-shape.js"></script>
</environment>
<environment exclude="Development">
    <script src="~/js/simulator.js"></script>
</environment>
}