<link href="~/css/designer.css" rel="stylesheet" type="text/css">
<div id="workspace">
</div>
<button id="addState">Add</button>

<script type="module" src="~/js/common/common-utils.js"></script>
<script type="module" src="~/js/common/core-utils.js"></script>
<script type="module" src="~/js/common/sandbox.js"></script>
<script type="module" src="~/js/common/core.js"></script>
<script type="module" src="~/js/designer/canvas.js"></script>
<script type="module" src="~/js/designer/dom-manager.js"></script>
<script type="module" src="~/js/designer/interaction.js"></script>
<script type="module" src="~/js/designer/workspace.js"></script>
<script type="module" src="~/js/designer/designer.js"></script>
