<link href="~/css/designer.css" rel="stylesheet" type="text/css">
<div id="workspace">
    <canvas id="canvas" width="800" height="400"></canvas>
</div>
<button id="addState">Add</button>
<script src="~/js/designer/designer.js"></script>