.workspace-wrapper {
    padding-bottom: 41px;
    width: 100%; 
    height: 100%; 
}

#workspace {
    padding: 0;
    margin: 0;
    width: 100%; 
    height: 100%; 
    display:inline-block;
    overflow: auto;
    line-height: 0px;
}

.workspace-footer {
    position: absolute;
    background-image: linear-gradient(to bottom, white, #eeeeee);
    border-style: solid;
    border-width: 1px 0px 0px 0px;
    border-color: #cdcdcd;
    bottom: 0;
    width: 100%;
    height: 41px;
    text-align: center;
}

.dock {
    height: 100%;
    display:inline-block;
}

.dock-item {
    height: 30px;
    margin: 5px;
    padding: 5px;
}

.top-panel {
    position: absolute;
    display:inline-block;
    right: 10px;
}

.top-button {
    height: 30px;
    margin: 5px;
    padding: 5px;
}