<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
</head>
<body>
    @RenderBody()
    <environment exclude="Development">
        <script src="~/lib/jquery/jquery.min.js"></script>
    </environment>
    <environment include="Development">
        <script src="~/lib/jquery/jquery.js"></script>
    </environment>
    @RenderSection("Scripts", required: false)
</body>
</html>